body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.resetbutton {
  margin-top: 180px;
  border-radius: 20px;
  margin-right: 30px;
  font-weight: bold;
}
.container {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.child-container {
  width: 40%;
  height: 49%;
}
.block {
  border: 2px solid black;
  width: 32.5%;
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 78px;
  color: red;
  font-weight: bold;
  border-radius: 13px;
}
.block:hover {
  background-color: rgb(0, 231, 0);
}
.row {
  width: 100%;
  height: 32.5%;
}
.block1,
.block2,
.block3 {
  border-top: 2px solid white;
}
.block7,
.block8,
.block9 {
  border-bottom: none;
}
.block1,
.block4,
.block7 {
  border-left: none;
}
.block3,
.block6,
.block9 {
  border-right: none;
}
.heading {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  margin-top: 2%;
  margin-right: 1%;
}
.form {
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: auto;
  width: 50%;
}
.parentcontainer{
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  width:50%;
  margin:auto;
  height:50vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}