body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.child-container {
  width: 40%;
  height: 49%;
}
.block {
  border: 2px solid black;
  width: 32.5%;
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: red;
  font-weight: bold;
  border-radius: 13px;

}
.block:hover {
  background-color: rgb(0, 231, 0);
}
.row {
  width: 100%;
  height: 32.5%;
}
.block1,
.block2,
.block3 {
  border-top: 2px solid white;
}
.block7,
.block8,
.block9 {
  border-bottom: none;
}
.block1,
.block4,
.block7 {
  border-left: none;
}
.block3,
.block6,
.block9 {
  border-right: none;
}
.heading {
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  margin-top: 2%;
  margin-right: 1%;
}
.form {
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: auto;
  width: 50%;
}
.parentcontainer {
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  width: 50%;
  margin: auto;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.eye{
  position:absolute;
  top:25%;
  right:4%;
}

@media only screen and (max-width: 1000px) {
   .block{
    font-size: 58px;
  }
}
.parentloader{
display:flex;
justify-content: center;
align-items:center;
height:80%;    /* height and width not necessary as in spinner I have given h & w in vw & vh. As z index is positive so as to stop clicks when loader is on we have to give h & w so user can't click on blocks as it lies beneath the h&w then  */
position:absolute;
width:80%;
z-index:1;
background-color:white;
opacity:0.97
}
.spinner{
  width:calc(10vw + 20vh);
  height:calc(10vw + 20vh);
}
.turn-selector{
  position:absolute;
  top:2%;
  left:34%;
  right:34%;
  width:30%;
  font-size:x-large;
  font-weight: bold;
  color:rgb(0, 231, 0);
  display:none;
  text-align: center;
}
.invite-link{
  display:flex;
  flex-wrap:wrap;
  width:80%;
  justify-content:center
}
.link{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-basis:80%;
  overflow:auto;
  word-break: break-all;
  background-color: rgb(239,239,239);
}
.online-friends{
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  width:20%;
  height:50%;
  z-index:1;
  position:absolute;
  left:40%;
  right:40%;
  top:20%;
  bottom:30%;
  box-sizing: border-box;
  

}
.close-icon{
  position:absolute;
  right:4%;
  top:2%;
}

